.hero {
	background-image: url("imgs/hero-img.jpg");
	min-height: 600px;
  	height: calc(100vh);
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
}

/*NAVIGATION BAR START*/
.mainnavbar {
	background-color: #131a2f; 
	height: 116px;
	top: 47px;
	margin: auto;
	margin-left: 35px;
	margin-right: 35px; 
}

.navbar-list {
	justify-content: center;
}

.navbar-list a {
	color: white;
	font-size: 17px;
}

.navbar-list a:hover {
	color: #de8a35;
}

.navbar-brand {
	color: #c94904;
	font-family: 'Montserrat', sans-serif;
	margin-left: 35px;
	margin-right: 0;
	font-size: 22px;
}

.navbar-nav .nav-link {
	background-color: #131a2f;
}

/*SEARCH FORM*/
.search {
	position: absolute;
    top: 0;
    right: 0;
    width: 121px;
    height: 100%;
    background-color: #c94904;
}

#search-button {
	position: absolute;
	right: 32px;
	top: 30px;
	font-size: 27px;
	color: white;
}

#search-form {
	display: none;
	position: relative;
}

.search-input {
	display: inline-block;
	position: absolute;
	top: 38px;
	left: 25px;
	background: transparent;
	border: solid 2px rgba(255, 255, 255, 0.5);
	padding-left: 10px;
	height: 36px;
}

.search-expand {
	width: 300px;
}

.btn:focus {
	box-shadow: none;
}

.search-input input {
	color: white;
}

::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler i {
	color: white;
	font-size: 25px;
}
/*NAVIGATION BAR END*/


/*Find Section*/
.find {
	height: 350px;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background: rgba(0, 0, 26);
 	color: white;
 	position: relative;
}

.find img {
	opacity: 0.2;
	object-fit: cover;
	position: absolute;
}

.find-background {
	height: 100%; 
	width: 100%;
}

.find-header {
	font-size: 30px;
	font-weight: 300;
	padding-top: 30px;
	font-family: 'Roboto', sans-serif;

}

.find-form-container {
	margin-top: 36px;
	width: 100%;
}

.find-form {
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.find-item label {
	float: left;
	margin-bottom: 7px;
}

.find-input {
	height: 56px;
	width: 292px;
	padding-left: 20px;
	border: solid 2px rgba(255,255,255,0.5);
    background: transparent;
    color: rgba(255,255,255,0.5);
}

#find-destination {
	color: white;
}

.price-input {
	height: 56px;
	width: 100px;
	padding-left: 20px;
	border: solid 2px rgba(255,255,255,0.5);
    background: transparent;
    color: rgba(255,255,255,0.5);
}

.find-button button {
	float: left;
	background: #c94904;
    border: none;
    font-size: 16px;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 45px;
}

.dropdown-item-select {
	cursor: pointer;
    font-size: 15px;
    color: #939393 !important;
}

/*ABOUT SECTION*/
.about-section {
	height: 200px;
}

.about-img {
	padding-left: 0;
}

.about-text h2 {
	margin-top: 100px;
	font-weight: 400;
	color: #131a2f;
}

hr {
	background: #c94904;
	width: 340px;
}

.about-text {
	text-align: left;
	padding-left: 60px;
	padding-right: 60px;
}

.about-text p {
	line-height: 2;
	color: #999c9e;
}

.about-text .p1 {
	margin-top: 60px;
}

.about-text .p2 {
	margin-top: 35px;
}



/*MEDIA QUERIES*/
@media (min-width: 768px) and (max-width: 991px) {
	.find {
		height: 610px;
	}

	.find-input {
		width: 690px;
		margin-bottom: 20px;
	}

	.price-input {
		width: 690px;
		margin-bottom: 20px;
	}

	.find-button {
		display: flex;
	}

	.find-button button {
		position: absolute;
		left: 285px;
	}
}

@media (min-width: 768px) and (max-width: 930px) {
	.about-text h2 {
	margin-top: 60px;
	}

	.about-text p {
	line-height: 1;
	}

	.about-text .p1 {
	margin-top: 40px;
	}

	.about-text .p2 {
	margin-top: 40px;
	margin-bottom: 0;
	}

	hr {
	width: 300px;
	}

}

@media (min-width: 576px) and (max-width: 767px) {
	.find {
		height: 610px;
	}

	.find-input {
		width: 500px;
		margin-bottom: 20px;
	}

	.price-input {
		width: 500px;
		margin-bottom: 20px;
	}

	.find-button {
		display: flex;
	}

	.find-button button {
		position: absolute;
		left: 185px;
	}
}

@media (max-width: 991px) {
	.search {
		display: none;
	}

	.mainnavbar {
		height: auto;
	}

	.navbar-list ul {
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.hero {
		height: 400px;
	}

	.navbar-brand {
		margin-left: 0;
		font-size: 17px;
	}

	.mainnavbar {
		height: auto;
	}

	.about-img {
		display: none;
	}

	.about-text {
		padding-left: 95px;
		padding-right: 95px;
		text-align: center;
	}

	hr {
		display: none;
	}
}


@media (max-width: 575px) {
	.find {
		height: 620px;
	}

	.find-form {
		justify-content: center;
	}

	.find-input {
		width: 300px;
		margin-bottom: 20px;
	}

	.price-input {
		width: 300px;
		margin-bottom: 20px;
	}

	.find-button {
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 768px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

@media (min-width: 576px) {
	.form-inline .form-control {
	    display: inline-block;
	    width: 292px;
	    vertical-align: middle;
	}
}